<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZbSimple00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{85,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,121}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,496},{87,117}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{87,117}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,337},{79,119}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{79,119}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,89},{73,121}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{73,121}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,162},{67,121}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{67,121}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{69,119}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{69,119}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{75,117}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{75,117}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,605},{77,115}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{77,115}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{73,119}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{73,119}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,87},{73,121}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,121}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,123}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,123}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimple11.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,85},{81,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,121}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>ZbSimpleAttack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,409},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,118}</string>
            </dict>
            <key>ZbSimpleAttack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,427},{87,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,117}}</string>
                <key>sourceSize</key>
                <string>{87,117}</string>
            </dict>
            <key>ZbSimpleAttack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,231},{87,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>ZbSimpleAttack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,168},{87,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>ZbSimpleAttack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{81,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,121}}</string>
                <key>sourceSize</key>
                <string>{81,121}</string>
            </dict>
            <key>ZbSimpleAttack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,257},{79,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,120}}</string>
                <key>sourceSize</key>
                <string>{79,120}</string>
            </dict>
            <key>ZbSimpleAttack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{81,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,116}}</string>
                <key>sourceSize</key>
                <string>{81,116}</string>
            </dict>
            <key>ZbSimpleAttack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,592},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>ZbSimpleAttack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,320},{87,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,119}}</string>
                <key>sourceSize</key>
                <string>{87,119}</string>
            </dict>
            <key>ZbSimpleAttack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{87,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>ZbSimpleAttack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,253},{82,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{82,120}</string>
            </dict>
            <key>ZbSimpleAttack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,418},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>ZbSimpleAttack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,504},{86,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,117}}</string>
                <key>sourceSize</key>
                <string>{86,117}</string>
            </dict>
            <key>ZbSimpleAttack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,516},{87,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,116}}</string>
                <key>sourceSize</key>
                <string>{87,116}</string>
            </dict>
            <key>ZbSimpleAttack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,164},{87,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>ZbSimpleAttack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{83,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{83,121}</string>
            </dict>
            <key>ZbSimpleAttack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{79,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,120}}</string>
                <key>sourceSize</key>
                <string>{79,120}</string>
            </dict>
            <key>ZbSimpleAttack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{77,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,118}}</string>
                <key>sourceSize</key>
                <string>{77,118}</string>
            </dict>
            <key>ZbSimpleAttack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,585},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>ZbSimpleAttack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,338},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>ZbSimpleAttack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZbSimple.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d43823f7275496e1c46719016af44c$</string>
            <key>textureFileName</key>
            <string>ZbSimple.png</string>
        </dict>
    </dict>
</plist>
