<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SunFlower00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>SunFlower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,129},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>SunFlower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>SunFlower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>SunFlower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,255},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>SunFlower05.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,257},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>SunFlower06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,318},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>SunFlower07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>SunFlower08.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,65},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>SunFlower09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>SunFlower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>SunFlower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>SunFlower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,129},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>SunFlower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,192},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>SunFlower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,321},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>SunFlower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,318},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>SunFlower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,192},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>SunFlower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,64},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunFlower.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638d12fe34cf6c324a7daef955f7aa5a$</string>
            <key>textureFileName</key>
            <string>SunFlower.png</string>
        </dict>
    </dict>
</plist>
