<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SunFlower00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{63,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,262},{63,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{63,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,199},{63,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,327},{63,68}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{63,68}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,329},{63,64}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{63,64}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{63,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,197},{63,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower09.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,134},{63,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{63,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,132},{63,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,67},{63,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{63,64}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{63,64}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,264},{63,68}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{63,68}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{65,72}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,67},{65,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunFlower.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51dd6c732e2ea13eceba04eb65e005b2$</string>
            <key>textureFileName</key>
            <string>SunFlower.png</string>
        </dict>
    </dict>
</plist>
