<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>peaShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>plantShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,28}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>etc.png</string>
            <key>size</key>
            <string>{32,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e871e8f9bf36e019c409f747e3ef90$</string>
            <key>textureFileName</key>
            <string>etc.png</string>
        </dict>
    </dict>
</plist>
