<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closeNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hpEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{28,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{28,2}</string>
            </dict>
            <key>hpFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{28,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{28,2}</string>
            </dict>
            <key>peaShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>plantShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{64,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,28}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>etc.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c1ff43f8def4c899c7d446fbddcb7cb$</string>
            <key>textureFileName</key>
            <string>etc.png</string>
        </dict>
    </dict>
</plist>
